* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #77429a4b;
    height: 100vh;
}

.nav-container-1 {
    background-color: #77429a;
    width: 95%;
    max-height: 34px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.nav-container-1 p {
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-container-2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo img {
    width: 210px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: #484a61;
    font-size: 17px;
    font-weight: 500;
}

.buttons {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.buttons .button-1 {
    padding: 11px 15px;
    background-color: #77429a;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}

.button-2 {
    padding: 11px 20px;
    border: 1px solid #77429a;
    text-decoration: none;
    color: #77429a;
    border-radius: 30px;
}

.nav-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.nav-con-3-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #77429a37;
    padding: 5px 10px;
    border-radius: 22px;
}

.nav-con-3-1 p {
    margin: 0;
}

.nav-con-3-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-con-3-2 h1{
    font-weight: 500;
    font-size: 50px;
    color: #161c52;
}

.nav-con-3-2 h1 span {
    color: #77429a;
}

.nav-con-3-2 p {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #484a61;
}

.nav-con-3-3 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-con-3-3-but a {
    text-decoration: none;
    background-color: #77429a;
    padding: 14px 20px;
    border-radius: 30px;
    color: #ffffff;
}

.nav-con-3-3-pro img{
    width: 80px;
    border-radius: 50%;
    margin: -30px;
    z-index: 99;
}

.nav-con-3-4 {
    margin-top: 80px;
}

.nav-con-3-4 img {
    width: 1300px;
}

.nav-con-3-5 {
    background-color: #77429a;
    width: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5%;
    gap: 50px;
}

.nav-con-3-5-p p {
    color: #ffffff;
    margin-top: 50px;
}

/* main */

.main-con-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
}

.main-con-1-text {
    text-align: center;
}

.main-con-1-text h1 {
    color: #484a61;
}

.main-con-1-text h1 span {
    color: #77429a;
}

.main-con-1-text p {
    font-size: 16px;
}

.main-con-1-contant {
    display: flex;
    gap: 60px;
}

.contant-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contant-1-text {
    text-align: center;
}

.main-con-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main-con-2-img img {
    width: 500px;
}